<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>Discussion</h1>
  </div>
  <!-- Show user status -->
  <div class = "row">
    <div class="col-xs-6 col-md-4 div-display" ng-init = "vm.getAllUsers()">
      <h3 style="text-align: center; border-bottom: solid thin #C8C8C8 ">Select Participants</h3>
      <div class="col-xs-4 chat-message-pic" ng-repeat = "user in vm.users">
        <div class="pic-display">
          <img src="{{user.profileImageURL}}" alt = "{{user.username}}" class = "pic" /> 
          <input ng-if= "user.username !== vm.authentication.user.username" type="checkbox" class="pic-checkbox" id="{{user.username}}" ng-model ="user.selected" value = "{{user.username}}" />
          <strong>{{user.username}}</strong>
        </div>
      </div>
      <div style="text-align: center; position: absolute; right: 0; bottom:0;">
        <button type = "button" class = "btn btn-primary" ng-click = "vm.chat()">Start Discussion</button>
      </div>
    </div>
    <!-- The message form -->
    <div class="col-xs-6 col-md-push-1 col-md-6 div-display" style="height: 34em;" ng-show = "vm.chatWindow || vm.messages.length >= 1 || vm.historyMessages.length">
    <div style="height: 30em; overflow-y:auto;">
      <span ng-bind="vm.welcomeText.text"></span>
      <ul class="list-unstyled">
      <!-- List all messages -->
        <li class="col-xs-12 col-md-12 chat-message" style = "display:inline;" ng-repeat="message in vm.historyMessages ">
          <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
          <img ng-src="{{message.sender.profileImageUrl}}" alt="{{message.sender.username}}" class="pull-left chat-profile-image" />
          <div class="pull-left chat-message-details">
            <strong ng-bind="message.sender.username"></strong>
            <br>
            <span ng-bind="message.content"></span>
          </div>
        </li>
        <br>
        <strong class = "text-muted" style = "font-style:italic; text-align: center; margin-left: 40%">---- end of history ----</strong>
        <li class="col-xs-12 col-md-12 chat-message" style = "display:inline;" ng-repeat="message in vm.messages">
          <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
          <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
          <div class="pull-left chat-message-details">
            <strong ng-bind="message.username"></strong>
            <br>
            <span ng-bind="message.text"></span>
          </div>
        </li>
      </ul>
    </div>
    <form style="padding-left: 2.5em; padding-right:2.5em; padding-bottom:1em; position: absolute; right: 0; bottom: 0;" ng-submit="vm.sendMessage();" ng-show = "vm.chatWindow || vm.messages.length >= 1">
        <fieldset class="row">
          <div class="input-group">
            <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Enter new message">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Send</button>
            </span>
          </div>
        </fieldset>
      </form>
    <div>
  </div>
</section>
