<div>
  <div>
  <!-- <h3 class="col-md-12 text-center">Or sign up using your email</h3> -->
  <br><br>
  <fieldset>
  <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
  <div class="col-xs-6 col-md-6">
        <div class="form-group" show-errors>
          <label for="firstName" class = "text-color-white" required>First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white" required>Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">Street Line 1</label>
          <input type="text" id="stAddr1" name="stAddr1" class="form-control" ng-model="vm.credentials.stAddr1" placeholder="Street Address" required>
          <div ng-messages="vm.userForm.stAddr1.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Street Address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">Street Line 2 (optional)</label>
          <input type="text" id="stAddr2" name="stAddr2" class="form-control" ng-model="vm.credentials.stAddr2" placeholder="Apt# or Suite#">
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">City</label>
          <input type="text" id="city" name="city" class="form-control" ng-model="vm.credentials.city" placeholder="City" required>
          <div ng-messages="vm.userForm.city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">State</label>
          <select name="state" class="form-control" ng-model="vm.credentials.state" placeholder="State" required>
            <option ng-repeat="state in vm.stateList" value="{{state}}" ng-selected="{{vm.credentials.city}}">{{state}}</option>
          </select>
          <div ng-messages="vm.userForm.city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">State is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">Zip</label>
          <input type="text" id="zipCode" minlength="5" maxlength="5" name="zipCode" class="form-control" ng-model="vm.credentials.zipCode" placeholder="Zip Code" pattern="\d*" required>
          <div ng-messages="vm.userForm.zipCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Zip Code is required.</p>
          </div>
        </div>
        <br><br>
        <div class="form-group" show-errors>
          <label for="lastName" class = "text-color-white">Phone</label>
          <input type="test" id="phoneNum" minlength="10" maxlength="10" name="phoneNum" class="form-control" ng-model="vm.credentials.phoneNum" placeholder="Telephone (including area code)" pattern="\d*">
          <div ng-messages="vm.userForm.phoneNum.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone Number is required and should be 10 digits.</p>

          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email" class = "text-color-white">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
  </div>
  <div class="col-xs-6 col-md-6">
    <div class="form-group" show-errors>
          <label for="username" class = "text-color-white">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password" class = "text-color-white">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
         <!--  &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a> -->
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
  </div>
  </form>
  </fieldset>
</div>
<br>
</div>
