
<section>
	<div class="page-header">
    	<h1>Search</h1>
  	</div>
	<div class = "row">
		<div class = "col-xs-3 col-md-3">
			<div class = "container-fluid jumbotron color-background checkboxes">
				<div class = "label-filter">
					<h3 class = "text-color-white">Filters</h3>
				</div>
				<br>
 				<ul>
    				<li class = "text-color-white"><input type="checkbox" ng-model = "facilities">Foster Care Facilities</li><br>
    				<li class = "text-color-white"><input type="checkbox" ng-model = "schools">Schools</li><br>
    				<li class = "text-color-white"><input type="checkbox" ng-model = "transport">Public transport</li>
  				</ul>
  				<a class="btn btn-default btn-sm" ng-click = 'getData()'>Apply filters</a>
  				<br><br>
  				<uib-alert style="margin-left: -1.3em" type="danger" ng-show="isError" class="text-center text-danger">
          			<strong style="font-size: 0.8em" ng-bind="filterMessage"></strong>
        		</uib-alert>
			</div>	
		</div>
		<div class = "col-xs-9 col-md-9">
			<div ng-show = "vm.authentication.user">
				<ng-map default-style="false" center="{{vm.authentication.user.latitude}}, {{vm.authentication.user.longitude}}" zoom="11">
					<marker position = "{{vm.authentication.user.latitude}}, {{vm.authentication.user.longitude}}" title = "{{vm.authentication.user.stAddr2}} {{vm.authentication.user.stAddr1}}"></marker>
					<marker icon = "http://maps.google.com/mapfiles/ms/icons/purple-dot.png" ng-repeat = "place in schoolLocations" title="{{place.name}}" position = "{{place.lat}}, {{place.lng}}"></marker>
					<marker icon = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" ng-repeat = "place in transportLocations" title="{{place.name}}" position = "{{place.lat}}, {{place.lng}}"></marker>
					<marker icon = "http://maps.google.com/mapfiles/ms/icons/green-dot.png" ng-if = "locations.length" ng-repeat = "place in locations" title = "{{place.facility_name}}" position = "{{place.location.coordinates[1]}}, {{place.location.coordinates[0]}}"></marker>
    			</ng-map>
			</div>
		</div>
	</div>
</section>