.chat-message {
  margin-top: 10px;
  padding-top: 10px;
}
.chat-message-pic {
  margin-top: 10px;
  padding: 8px;
}
.chat-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}
.chat-message-details {
  margin-left: 10px;
}
.chat-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.pic-display { position:relative; width: 100px; height: 100px; float: left; background-color: #005cad; }
.pic-checkbox { position: absolute; bottom: 0; right: 0; }
.pic-role { position: absolute; top:0; margin-top:0.1em; right: 0; color: #ccff00; }
.pic { width: 100px; height: 100px; }
.marginbottum{min-height: 5em;}