<section>
	<div class="page-header">
    	<h1>About</h1>
  	</div>
	<div class = "row">
		<div class = "col-xs-12 col-md-12">
			<!-- <img alt="Reachout" class="img-responsive" style = "float:left" src="modules/core/client/img/images/vignette-kid.png" /> -->
			<p>
				reachout is an open source prototype created on behalf of California Health and Human Services by Infosys Public Services.
			</p>
			<p>
				Engage the parents at a difficult time.
				Bring the parent into the decision making process around foster care.
				Give the parent and caseworker an informal communication channel to use between scheduled visits.
			</p>
		</div>
	</div>
</section>