<section>
	<div class="page-header">
    	<h2>About</h2>
  	</div>
	<div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-md-push-2" style = "margin: 0 auto; display:block;">
			<img alt="Reachout" class="img-responsive" style = "float:left" src="modules/core/client/img/images/ips.png" />
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12 col-md-12" style = "text-align:center;">
			<p style = "position:relative">
        This prototype was developed by Infosys Public Services for California Health & Human Services in response to RFI # 75001 and is not intended for any other purpose or usage. Any unauthorized usage without prior written consent is illegal.
			</p>
		</div>
	</div>
</section>
