<section>
	<div class = "container-fluid jumbotron text-center">
		<div class ="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        		<h2>Choose your option</h2>
      		</div>
		</div>
		<br>
		<div class="row" style="padding-left: 10em; padding-right: 10em">
      		<div class="col-md-6 col-sm-6  col-xs-12 text-left">
        		<a class="btn btn-primary btn-lg" ui-sref="authentication.profile-create">Create Profile</a>
      	</div>
      	<div class="col-md-6 col-sm-6  col-xs-12 text-right">
        	<a class="btn btn-primary btn-lg" ui-sref="profile-options">Edit Profile</a>
      	</div>
    </div>
	</div>
</section>	